@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.banner-ad {
    display: grid;
    position: fixed;
    top: 0;
    right: 0;
    width: 95%;
    justify-items: end;
    padding: 0.5rem 0;
    z-index: 7;
    font: 900 1rem Geomanist;

    h4 {
        margin-right: 3rem;
        padding: 0 0.5rem;
        padding-top: 0.25rem;
        width: max-content;
        letter-spacing: 0.02rem;
        border: 3px solid var(--clr-neutral-100);
        color: var(--clr-neutral-500);
        background-color: var(--clr-neutral-100);
        @include cyberpunk-glow(var(--clr-neutral-400), 1px, 9px, true);

        &.scrolled {
            border: 3px solid var(--clr-success-100);
            color: var(--clr-success-500);
            background-color: var(--clr-success-100);
            @include cyberpunk-glow(var(--clr-success-400), 1px, 9px, true);
        }
    }
}

.translate-button {
    display: grid;
    position: fixed;
    bottom: 1.75rem;
    right: 3rem;
    justify-items: end;
    padding: 0.5rem 0rem;
    z-index: 10;

    button {
        background-color: var(--clr-neutral-500);
        color: var(--clr-neutral-100);
        cursor: pointer;
        padding: 0.25rem 0.75rem;
        border: 1px solid var(--clr-border-100);
        width: max-content;
        font-weight: 700;

        &:hover {
            background-color: var(--clr-primary-100);
            border: 1px solid var(--clr-primary-100);
            color: var(--clr-neutral-500);
        }
    }

    .language-list {
        margin-top: 0.5rem;
        background-color: var(--clr-neutral-500);
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: max-content;
        border: 1px solid var(--clr-border-100);
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
        transition:
            opacity 0.2s ease,
            transform 0.2s ease,
            visibility 0.2s ease;

        li {
            cursor: pointer;
            padding: 0.5rem 1rem;
            font-weight: 600;
            color: var(--clr-neutral-100);

            &:hover {
                background-color: var(--clr-primary-100);
                border-color: var(--clr-primary-100);
                color: var(--clr-neutral-500);
            }
        }

        &.hidden {
            opacity: 0;
            transform: translateY(-5px);
            visibility: hidden;
            pointer-events: none;
        }
    }
}

#content-data {
    .main-data {
        overflow-x: hidden;

        .global-titles {
            font-family: PPmodwest;
            position: absolute;
            color: var(--clr-primary-100);
        }

        .minimal-introduction {
            &__ascii-art {
                font-family: "Courier New", Courier, monospace;
                font-size: 0.46rem;
                white-space: pre;
                line-height: 1.06;
                letter-spacing: 0.08rem;
                overflow-x: hidden;
                // color: var(--clr-neutral-300);
                width: calc(100% + 40rem);
                margin-left: -16rem;
                margin-top: -30rem;
                z-index: 0;

                /* Gradient text */
                background: radial-gradient(
                    circle at center,
                    var(--clr-neutral-400) 0%,
                    // color inicial
                    var(--clr-border-100) 100% // color final
                );
                background-clip: text;
                -webkit-background-clip: text; /* para Safari/Chrome */
                -webkit-text-fill-color: transparent; /* hace transparente el relleno de texto */
                color: transparent; /* fallback */
            }

            &__title {
                display: grid;
                padding: 0rem 0.75rem;
                position: absolute;
                align-content: center;
                justify-items: center;
                top: 1rem;
                width: 99%;
                height: 45vw;

                .container-title {
                    color: var(--clr-neutral-300);
                    text-align: center;
                    max-width: 1200px;

                    p {
                        text-align: justify;
                        text-align-last: justify;
                    }

                    h1 {
                        font-family: Geomanist;
                        font-size: 13rem;
                        line-height: 0.79;
                        margin-bottom: 0rem;
                        letter-spacing: 0rem;
                        color: transparent;
                        -webkit-text-stroke-width: 1.5px;
                        -webkit-text-stroke-color: var(--clr-neutral-100);

                        span {
                            color: var(--clr-neutral-50);
                        }
                    }
                }
            }
        }

        .about-me {
            width: 100%;
            overflow: hidden;

            &__nick-title {
                // TODO: REMOVE IF NOT USED
                h1 {
                    font-family: Geomanist;
                    font-size: calc(10vw + 12rem);
                    white-space: nowrap;
                    margin: 0rem;
                    margin-left: -50rem;
                    padding-bottom: 9rem;
                    padding-top: 9rem;
                    color: var(--clr-neutral-100);
                }
            }

            &__description {
                display: grid;
                width: 100%;
                justify-items: center;
                text-align: center;
                margin-top: 30rem;
                margin-bottom: 36rem;

                p {
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                    font-size: 1.2rem;
                    color: var(--clr-neutral-300);
                    max-width: 600px;

                    strong {
                        color: var(--clr-neutral-100);
                    }
                }
            }
        }

        .experience {
            position: relative;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0.5rem;
            margin-bottom: 3rem;

            .global-titles {
                top: -3rem;
            }

            &__container {
                font-family: Geomanist;
                padding: 1rem;
                padding-top: 0rem;
                border: 1px solid var(--clr-border-100);
                height: 25rem;

                h4 {
                    font-size: 2rem;
                    letter-spacing: 0.1rem;
                    margin-bottom: 0rem;
                }

                h5 {
                    margin: 0rem;
                    text-align: justify;
                    text-align-last: justify;
                    color: var(--clr-neutral-300);

                    strong {
                        color: var(--clr-neutral-200);
                    }
                }

                p {
                    font-size: 1.1rem;
                    color: var(--clr-neutral-300);

                    strong {
                        color: var(--clr-neutral-200);
                    }
                }
            }
        }

        .download-cv {
            grid-template-columns: auto auto;
            display: grid;
            width: 100%;
            justify-items: center;
            align-content: center;
            margin-bottom: 6rem;

            .btn-download {
                padding: 0.5rem;
                border: 1px solid var(--clr-border-100);
                text-decoration: none;
                color: var(--clr-neutral-100);
                display: inline-block;
            }

            .btn-download.element-flare {
                --element-flare-color: var(--clr-border-300);
            }

            .btn-download:hover {
                color: var(--clr-neutral-50);
                background-color: var(--clr-border-500);
            }
        }

        .feature,
        .now {
            position: relative;
            font-family: Geomanist;
            width: 100%;
            margin-bottom: 6rem;

            .global-titles {
                top: -3rem;
            }

            a {
                text-decoration: none;
                color: var(--clr-neutral-300);
                display: inline-block;
                padding: 0.5rem;
                width: 100%;
                background-color: var(--clr-border-500);
                border: 1px solid var(--clr-border-100);
                margin-bottom: 0.5rem;
            }

            a:hover {
                color: var(--clr-neutral-100);
                background-color: var(--clr-border-100);

                span {
                    color: var(--clr-warning-100);
                }
            }

            &__item {
                h1 {
                    font-size: 2rem;
                    font-weight: 400;
                    margin: 0rem;

                    span {
                        font-family: PPmodwest;
                        font-weight: 700;
                        float: inline-end;
                        font-size: 1.2rem;
                        color: var(--clr-warning-200);
                        margin-right: 1rem;
                    }
                }
            }
        }

        .footer {
            width: 100%;
            text-align: left;
            padding-left: 0.5rem;
            margin-top: 6rem;
            margin-bottom: 6rem;

            a {
                font-weight: 700;
                text-decoration: none;
                color: inherit;
                display: inline-block;
                color: var(--clr-neutral-300);
            }

            a:hover {
                color: var(--clr-neutral-100);
            }
        }
    }
}

@media (max-width: 317.98px) {
    .banner-ad {
        top: auto;
        bottom: 0.75rem;
        left: 1.25rem;
        justify-items: start;
        font: 900 0.9rem Geomanist;
    }

    #content-data {
        .main-data {
            .minimal-introduction {
                &__title {
                    top: 30rem;

                    .container-title {
                        h1 {
                            line-height: 0.85;
                            font-size: 3rem;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 318px) and (max-width: 356.98px) {
    .banner-ad {
        top: auto;
        bottom: 0.75rem;
        left: 1.25rem;
        justify-items: start;
        font: 900 0.9rem Geomanist;
    }

    #content-data {
        .main-data {
            .minimal-introduction {
                &__title {
                    top: 30rem;

                    .container-title {
                        h1 {
                            line-height: 0.85;
                            font-size: 3.5rem;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 357px) and (max-width: 477.98px) {
    .banner-ad {
        top: auto;
        bottom: 0.5rem;
        left: 3rem;
        justify-items: start;
    }

    #content-data {
        .main-data {
            .minimal-introduction {
                &__title {
                    top: 25rem;

                    .container-title {
                        h1 {
                            line-height: 0.85;
                            font-size: 4rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 477.98px) {
    #content-data {
        .main-data {
            .minimal-introduction {
                &__ascii-art {
                    font-size: 0.39rem;
                    margin-left: -26rem;
                    margin-top: -30rem;
                }
            }

            .about-me {
                margin-bottom: 3rem;

                &__nick-title {
                    // TODO: REMOVE IF NOT USED
                    h1 {
                        font-size: calc(10vw + 6rem);
                        margin-left: -23rem;
                        padding-bottom: 7rem;
                    }
                }

                &__description {
                    p {
                        font-size: 1.05rem;
                    }
                }
            }

            .experience {
                grid-template-columns: 1fr;

                &__container {
                    height: 33rem;

                    h4 {
                        line-height: 1.05;
                    }
                }
            }

            .feature {
                &__item {
                    h1 {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 478px) and (max-width: 505px) {
    .banner-ad {
        top: auto;
        bottom: 0.5rem;
        left: 3rem;
        justify-items: start;
    }

    #content-data {
        .main-data {
            .minimal-introduction {
                &__ascii-art {
                    font-size: 0.39rem;
                    margin-left: -26rem;
                    margin-top: -30rem;
                }

                &__title {
                    top: 20rem;

                    .container-title {
                        h1,
                        p {
                            padding-left: 1rem;
                            padding-right: 1.5rem;
                        }

                        h1 {
                            line-height: 0.85;
                            font-size: 5rem;
                        }
                    }
                }
            }

            .about-me {
                margin-bottom: 3rem;

                &__nick-title {
                    // TODO: REMOVE IF NOT USED
                    h1 {
                        font-size: calc(10vw + 7rem);
                        margin-left: -26rem;
                        padding-bottom: 6rem;
                    }
                }

                &__description {
                    p {
                        font-size: 1.05rem;
                    }
                }
            }

            .experience {
                grid-template-columns: 1fr;

                &__container {
                    height: 23rem;

                    h4 {
                        line-height: 1.05;
                    }
                }
            }
        }
    }
}

@media (min-width: 505px) and (max-width: 882.98px) {
    .banner-ad {
        top: auto;
        bottom: 0.5rem;
        left: 3rem;
        justify-items: start;
    }

    #content-data {
        .main-data {
            .minimal-introduction {
                &__ascii-art {
                    font-size: 0.39rem;
                    margin-left: -26rem;
                    margin-top: -20rem;
                }

                &__title {
                    top: 25rem;

                    .container-title {
                        h1,
                        p {
                            padding-left: 1rem;
                            padding-right: 1.5rem;
                        }

                        h1 {
                            font-size: 5.7rem;
                        }
                    }
                }
            }

            .experience {
                grid-template-columns: 1fr;

                &__container {
                    height: 23rem;

                    h4 {
                        line-height: 1.05;
                    }
                }
            }
        }
    }
}

@media (min-width: 668px) and (max-width: 882.98px) {
    #content-data {
        .main-data {
            .minimal-introduction {
                &__title {
                    top: 17rem;
                    .container-title {
                        h1 {
                            font-size: 7.5rem;
                        }
                    }
                }
            }

            .experience {
                grid-template-columns: 1fr 1fr;

                &__container {
                    height: 26rem;
                }
            }
        }
    }
}

@media (min-width: 883px) and (max-width: 1023px) {
    #content-data {
        .main-data {
            .minimal-introduction {
                &__ascii-art {
                    font-size: 0.39rem;
                    margin-left: -26rem;
                    margin-top: -20rem;
                }

                &__title {
                    height: 70vw;
                    .container-title {
                        h1,
                        p {
                            padding-left: 1rem;
                            padding-right: 1.5rem;
                        }

                        h1 {
                            font-size: 7rem;
                        }
                    }
                }
            }

            .experience {
                &__container {
                    height: 26rem;

                    h4 {
                        line-height: 1.05;
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    #content-data {
        .main-data {
            .minimal-introduction {
                &__title {
                    top: -1rem;
                    height: auto;

                    .container-title {
                        h1,
                        p {
                            padding-left: 1rem;
                            padding-right: 1.5rem;
                        }

                        h1 {
                            font-size: 9rem;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) and (max-width: 1470px) {
    #content-data {
        .main-data {
            .minimal-introduction {
                &__title {
                    top: -3rem;
                    height: auto;

                    .container-title {
                        h1,
                        p {
                            padding-left: 1rem;
                            padding-right: 1.5rem;
                        }

                        h1 {
                            font-size: 11rem;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1666px) {
    #content-data {
        .main-data {
            .minimal-introduction {
                &__ascii-art {
                    font-size: 0.68rem;
                    margin-left: -10rem;
                    margin-top: -98rem;
                }

                &__title {
                    top: -3rem;
                    height: auto;

                    .container-title {
                        h1,
                        p {
                            padding-left: 1rem;
                            padding-right: 1.5rem;
                        }

                        h1 {
                            font-size: 14rem;
                        }
                    }
                }
            }

            .experience {
                grid-template-columns: 1fr 1fr 1fr;

                &__container {
                    height: 25rem;
                }
            }
        }
    }
}
