@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

#persistent-data {
    .user-data {
        display: block;
        justify-content: center;

        header {
            display: grid;
            gap: 0.25rem;
        }

        &__image {
            border: 1px solid var(--clr-border-100);
            left: 0px;
            margin: auto;
            padding: 0.25rem;
            right: 0px;
            width: min-content;

            .img-container {
                width: 200px;
                height: 200px;
                overflow: hidden;
                position: relative;
                background-color: var(--clr-neutral-400);

                picture {
                    position: absolute;
                    width: max-content;
                    height: 100%;
                    top: 0px;
                    right: 0px;
                }

                img {
                    height: 201%;
                    object-fit: cover;
                }
            }
        }

    }

    &__contact {
        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;
    }
}
